<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">BrandName</th>
        <th scope="col">ColorName</th>
        <th scope="col">ModelYear</th>
        <th scope="col">DailyPrice</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody *ngFor="let car of cars">
      <tr>
        <th>{{car.carId}}</th>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
      </tr>
    </tbody>
  </table>